/SortFunShow/GeneratedFiles/Debug
/SortFunShow.VC.VC.opendb
/SortFunShow.VC.db
/.vs/SortFunShow/v14
/Win32/Debug
/SortFunShow/Debug
/SortFunShow/SortFunShow.vcxproj
/SortFunShow/SortFunShow.vcxproj.filters
/SortFunShow/SortFunShow.vcxproj.user
